---
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import { findLatestPosts } from '~/utils/blog';

const posts = await findLatestPosts({ count: 5 });

const metadata = {
  title: 'PureElectricJapan Blog',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline subtitle="欢迎来到PureElectricJapan博客，这里分享关于电动汽车、新能源和可持续发展的最新资讯">
      博客文章
    </Headline>
    <BlogList posts={posts} />
  </section>
</Layout>
