---
import Layout from '~/layouts/Layout.astro';
import ToggleTheme from '~/components/common/ToggleTheme.astro';
import Footer from '~/components/widgets/Footer.astro';
// import Announcement from '~/components/widgets/Announcement.astro';

import { footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <div style="position: absolute; top: 1.5rem; right: 2rem; z-index: 50;">
    <ToggleTheme />
  </div>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
